@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;


}

body {
    background-color: #0F0F0F;
}

header {
    background-color: #0F0F0F;
    height: 15vh;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.miniCon {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bars {
    display: none;
}

nav {
    width: 30%;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul li a {
    font-size: 16px;
    color: #676767;
    transition: .3s all;
    display: block;
    padding: 26px 0px;

}

.active {
    color: white;
}

nav ul li a:hover {
    color: white;
}

.btn {
    background-color: #323232;
    color: #fff;
    transition: .3s all;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
}

.btn:hover,.contactbtn:hover {
    background-color: white;
    color: #0F0F0F;
}

.fa-brands {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2em;
    color: white;
    background-color: #181818;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);

}

.fa-github,
.fa-linkedin,
.fa-instagram,
.fa-facebook {
    transition: 1s all;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-instagram:hover,
.fa-facebook:hover {
    color: #181818;
    background-color: white;
}

footer {
    background-color: #0F0F0F;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 170px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav1 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav1>ul>li>a {
    font-size: 0.8em;
    font-weight: 600;
}

.texts {
    width: 70%;
    height: 20px;
    text-align: center;
    font-weight: 900;
}

.texts>h2 {
    font-size: 0.9em;
    color: #323232;
}

.river {
    color: #5B78F6;
}

.material-symbols-rounded {
    color: #8B8B8B;
    position: absolute;
    font-size: 2.9em;
    top: -15px;
    right: 10px;
    transition: .5s all;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48
}

.middle-right{
    width: 270px;
    height: 235px;
    border-radius: 30px;
    background-color: #181818;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.tops{
    width: 100%;
    height: 75%;
}
.bottoms{
    height: 25%;
}
.tops5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profiles{
    border-radius: 30px;
    width: 90%;
    height: 120px;
    background-color: #181818;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.fa-brands{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3em;
    color: white;
    background-color: #181818;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
   
}
.fa-github,.fa-linkedin{
    transition: 1s all;
}
.fa-linkedin:hover,.fa-github:hover{
    color: #181818;
    background-color: white;
}
.bottoms{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 5px;
}
.text2,.text3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text2>h2,.text3>h2{
    font-size: 1.3em;
    color: white;
}
.text2>h4,.text3>h4{
    font-size: 0.6em;
    color: #8B8B8B;
}
.first{
    width: 520px;
    height: 235px;
    display: flex;
}
.bottom-right{
    width: 520px;
    height: 235px;
    border-radius: 30px;
    background-color: #181818;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.pic{
    position: absolute;
    top: 0;
    left: 30px;
    width: 38px;
    height: 78px;
}
.bottom-right-left{
    width: 100%;
    height: 60%;
}
.bottom-right-right{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottoms>p{
    padding-left: 30px;
    font-size: 2.3em;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 60px;
    color: white;
}
.together{
    color: #5B78F6;
}
.second{
    width: 270px;
    height: 235px;
    display: flex;
}
.top-right-bottom-left{
    width: 270px;
    height: 235px;
    border-radius: 30px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    cursor: pointer;
}
.tops1{
    background-image: url(../images/sign.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.material-symbols-outlined {
    font-size: 3em;
    color: white;
    transition: .5s all;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover{
    color: rgb(136, 134, 134);
}

.container{
    padding: 90px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200vh;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 92%;
    height: 160vh;
 
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 92%;
    height: 60vh;
}
.top-left{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: #181818;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    border-radius: 30px;
    text-transform: uppercase;
}

.div0{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.top-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.outside{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 2.5em;
}
.inside{
    width: 95%;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    border-radius: 30px;
    color: #fff;
    opacity: 0.8;
}
.div1,.div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 95%;
}
.div1s,.div2s{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 25px;
    padding-right: 20px;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 20px;
    width: 95%;
    height: 80%;
    background-color: #272727c1;
    box-shadow: 0px 0px 3px rgb(72, 72, 72);
    border-radius: 30px;
}
@media screen and (max-width:1180px) {

    .miniCon>nav,
    .btn {
        display: none;
    }

    .bars {
        position: relative;
        top: -5px;
        display: block;
    }
    .container{
        height: 530vh;
        gap: 50px;
    }
    .top{
        flex-direction: column;
        height: 450vh;
    }
    .top-left{
        width: 100%;
        height: 110vh;
    }
    .top-right{
        width: 100%;
        flex-direction: column;
    }
    .inside{
        flex-direction: column;
        height: 1300px;
        gap: 10px;
    }
    .div1,.div2{
        height: 49%;
    }
    .bottom{
        flex-direction: column;
        height: 120vh;
    }
    .bottom>a,.top-right-bottom>a{
        display: flex;
        width: 99%;
    }
    .top-right-bottom{
        width: 100%;
    }
    .bottom>a>div,.bottom>div{
        width: 99%;
        
    }
    .top-right-bottom>a>div{
        width: 99%;
    }
    .middle-right{
        padding-top: 60px;
    }
    .profiles{
        margin-bottom: 50px;
    }
    .outside{
        font-size: 1.5em;
    }
}
.fa-toggle-on {
    font-size: 3em;
    color: white;
    cursor: pointer;
}

.fa-toggle-off {
    font-size: 3em;
    color: #3E5CE3;
    cursor: pointer;
}